
<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>ID</th>
            <th>Image URL</th>
            <th>POST URL</th>
            <th>Req ID</th>
        </tr>
                       
        <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>
         
        <tr>
            <td><%=data[i].id%></td>
            <td><%=data[i].image_url%></td>
            <td><%=data[i].product_url%></td>
            <td><%=data[i].request_id%></td>
            <td>
               
                <a class="a-inside delete" href="javascript:void(0)" onClick="deleteUser(<%=data[i].user_id%>)">Delete</a>
               
            </td>
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Data</td>
         </tr>
    <% } %>
                                      
    </table>
</div>