<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>

<div class="page-data">
<p> No Result Found </p>
<input type="button" value="Search Now on Ebay!" onClick="searchebay()">
</div>


<script>

    function searchebay(){
       
       $.ajax({
        
        url:"/api/keyword/",
        type:"PUT",
        data:$("#the-form").serialize(),
        success:function(res){
            
            alert("done!")
        },
        error:function(xhr, status, error){
            
            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {
               
                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);    
            return false;
        }
        
       });
    }
</script>